
mixin date(date)
	- date = date || new Date();
	- let zerolead = num => `0${num}`.substr(-2,2);
	= `${date.getFullYear()}-${zerolead(date.getMonth())}-${zerolead(date.getDate())}`




mixin dateDayMonthString(date)
	- let zerolead = num => `0${num}`.substr(-2,2);
	- let month = ["января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"][date.getMonth()];
	= `${zerolead(date.getDate())} ${month}`
	
	
mixin dateString(date)
	+dateDayMonthString(date)
	= " " + date.getFullYear() + " г."